body {
    background-color: greenyellow;
    text-align: center;
}
h1 {
    border: solid violet 100px;
    border-radius: 20px;
}
.group {
    margin: 40px;
    padding: 20px;
    border-radius: 20px;
    background-color: violet    ;
    font-size: large;
    font-family: fantasy, solid;
    display: flex;
    justify-content: space-between;
}
